{% extends 'main/base.html' %}
{% block welcomeText %}
    <h3 class="text-center">Welcome, {{ name }}!</h3>
{% endblock %}
{% block regBtn %}
{% endblock %}

{% block btnToRight %}
    <a class="btn btn-light" href='/login/'>Log out</a>
{% endblock %}

{% block content %}
    <form method="get" action="/upload/{{ user_id }}/">
    {% csrf_token %}
        <div>
            <button class="w-100 btn mb-3 btn-lg btn-primary" type="submit">Upload</button>
        </div>
    {% for i in images %}
        <img src="{{ i.main.url }}" alt="" height="40px" width="40px">
    {% endfor %}
    </form>
{% endblock %}

{#<int:user_id>/#}